nav.navbar {
  padding: 0 1rem;

  ul.navbar-nav {
    display: flex;
    justify-content: space-around;

    li {
      display: inline-block;
      padding: 8px 10px;

      a {
        position: relative;
        color: white;

        &.dropdown-toggle {
          &::after {
            content: none;
            // content: url("../../../../images/fleche-white.svg");
            position: absolute;
            border: 0;
            margin-left: 0;
            right: 0;
            top: 47%;
            transform: translateY(-50%);
            vertical-align: inherit;
            transition: all 0.2s;

            @include media-breakpoint-down(xl) {
              content: none;
            }
          }
        }

        &.dropdown-toggle.show {
          &::after {
            content: none;
            // content: url("../../../../images/fleche-white.svg");
            top: 59%;
            transform: translateY(-50%) rotate(180deg);

            @include media-breakpoint-down(xl) {
              content: none;
            }
          }
        }

        &::before {
          content: "";
          position: absolute;
          display: block;
          width: 0;
          height: 2px;
          bottom: 9px;
          background-color: white;
          transition: all 0.4s;

          @include media-breakpoint-down(xl) {
            content: none;
          }
        }

        &.active:not(._mPS2id),
        &._mPS2id.mPS2id-highlight.active {
          &::before {
            width: calc(100% - 16px);

            @include media-breakpoint-down(xl) {
              content: none;
            }
          }
        }

        &.dropdown-toggle.show,
        &:hover {
          &::before {
            width: calc(100% - 16px);
            transition: all 0.4s;

            @include media-breakpoint-down(xl) {
              content: none;
            }
          }

          &::after {
            top: 59%;
            transform: translateY(-50%) rotate(180deg);
            transition: all 0.2s;

            @include media-breakpoint-down(xl) {
              content: none;
            }
          }
        }

        &.active {
          color: white;

          &::before {
            background-color: white;
          }
        }

        &.brand {
          &::before {
            content: none;
          }
        }

        &.cta {
          color: white;
          border-radius: 25px;
          padding: 8px 20px !important;

          &::before {
            content: none;
          }
        }

        .logo {
          display: block;
          margin: 0 auto;

          @media (min-width: 992px) and (max-width: 1199.98px) {
            padding-top: 10px;
          }
        }
      }

      &.menu-item-home {
        a {
          &.active {
            &::before {
              width: 20px;
            }
          }

          &.mPS2id-highlight,
          &:hover {
            &::before {
              width: 100% !important;
            }
          }
        }
      }

      ul.dropdown-menu {
        border: 0;
        border-radius: 0;
        padding-top: 32px;
        top: 40px;
        z-index: 9;
        background: transparent !important;

        @include media-breakpoint-down(xl) {
          padding-top: 0;
        }

        div {
          padding: 15px 10px;
          background-color: white;
          transition: all ease-in-out 0.3s;
        }

        li {
          display: inline-block;
          padding: 2px 0;
          background-color: white !important;

          @include media-breakpoint-down(xl) {
            display: block;
            text-align: center;
          }

          a {
            color: $black_pitch !important;
            font-size: 0.875rem;
            font-weight: 100;
            line-height: 1.6rem;
            background-color: white !important;

            &:hover {
              color: $blue_pitch !important;
              transition: all ease-in-out 0.2s;
            }

            &::before {
              content: none;
            }
          }
        }
      }
    }
  }
}

@include media-breakpoint-up(xl) {
  .navbar .nav-item .dropdown-menu {
    display: block;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
  }

  .navbar .nav-item:hover .dropdown-menu {
    display: block;
    visibility: visible;
    opacity: 1;
    transition: all 0.3s;

    div {
      box-shadow: 0 2px 10px 0 rgb(7 7 7 / 15%);
    }
  }
}

.nav-visible {
  #o-wrapper {
    ul.navbar-nav {
      li {
        a {
          color: $black_pitch;

          &.active {
            color: $blue_pitch;

            &::before {
              content: none !important;
            }
          }

          &.dropdown-toggle {
            &::after {
              content: none;
              // content: url("../../../../images/fleche.svg");
            }
          }
        }
      }
    }

    a.cta:hover {
      border-color: $black_pitch;
    }
  }

  &.nav-transparent {
    #o-wrapper {
      ul.navbar-nav {
        li {
          a {
            color: white;

            &.active {
              color: white;

              &::before {
                content: "" !important;
                background-color: white;
              }
            }

            &.dropdown-toggle {
              &::after {
                content: none;
                // content: url("../../../../images/fleche-white.svg");
              }
            }
          }
        }
      }

      a.cta:hover {
        border-color: $black_pitch;
      }
    }
  }
}

.page.page-id-907,
.page-id-630,
.blog,
.single {
  #o-wrapper {
    ul.navbar-nav {
      li {
        a {
          color: $black_pitch !important;

          &.active {
            color: $blue_pitch;

            &::before {
             content: none !important;
            }
          }

          &.dropdown-toggle {
            &::after {
              content: none;
              // content: url("../../../../images/fleche.svg") !important;
            }
          }
        }
      }
    }
  }

  a.cta:hover {
    border-color: #2ba1d0;
  }
}
