nav.navbar {
  padding: 0 1rem;

  ul.navbar-nav {
    display: flex;
    justify-content: space-around;

    li {
      display: inline-block;
      padding: 8px 15px;

      a {
        color: black;

        &::after {
          content: "";
          position: relative;
          display: block;
          width: 0;
          height: 2px;
          bottom: 2px;
          background-color: $blue_pitch;
          transition: all 0.4s;
        }

        &.active:not(._mPS2id),
        &._mPS2id.mPS2id-highlight.active {
          &::after {
            width: 100%;
          }
        }

        &:hover {
          &::after {
            width: 100%;
            transition: all 0.4s;
          }
        }

        &.brand {
          &::after {
            content: none;
          }
        }

        &.cta {
          color: white;
          border-radius: 4px;
          padding: 8px 25px;

          &::after {
            content: none;
          }
        }

        .logo {
          display: block;
          margin: 0 auto;

          @media (min-width: 992px) and (max-width: 1199.98px) {
            padding-top: 10px;
          }
        }
      }

      &.menu-item-home {
        a {
          &.active {
            &::after {
              width: 0;
            }
          }

          &.mPS2id-highlight,
          &:hover {
            &::after {
              width: 100% !important;
            }
          }
        }
      }
    }
  }
}
