$montserrat: "Montserrat", sans-serif;
$domine: "Merriweather", serif;

$theme-colors: (
  primary: #525ddc
);

$blue_pitch: #2ba1d0;
$red_pitch: #ce2e38;
$pink_pitch: #c38d94;
$black_pitch: #231f20;

/** Menu mobile */
$mobile-bg-mask: #777;
$mobile-nav-item-color: black;
$mobile-nav-item-color-hover: blue;
$mobile-bg-dropdown-menu: white;
$mobile-dropdown-nav-item-color: black;
$mobile-dropdown-nav-item-color-hover: white;

/** Buttons */
$btn-font-size: 0.813rem;
$btn-line-height: 1.25rem;
$btn-border-radius: 0.375rem;
$btn-padding-y: 0.625rem;
$btn-padding-x: 0.75rem;
$btn-font-weight: 600;
