#o-wrapper {
  position: absolute;
  z-index: 999;
  width: 100%;
  top: 0;
  left: 0;
  padding: 20px 30px;
  transition: all ease 0.6s;
  background-color: transparent;

  a.cta {
    padding: 8px 20px !important;
  }

  @media (max-width: 767.98px) {
    padding: 20px 10px;
  }

  a.link {
    color: $blue_pitch;
  }
}

.nav-hidden {
  #o-wrapper {
    transform: translateY(-100%);
  }
}

.nav-visible {
  #o-wrapper {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 30%);
    background-color: white;
    transition: all ease 0.6s;
    transform: translateY(0);
  }

  &.nav-transparent {
    #o-wrapper {
      box-shadow: none;
      background-color: transparent;
    }
  }
}
