#o-wrapper {
  position: relative;
  padding: 10px 30px;
  transition: all 0.4s;
  background-color: white;

  a.cta {
    padding: 8px 20px !important;
  }

  @media (max-width: 767.98px) {
    padding: 20px 10px;
  }

  a.link {
    color: $blue_pitch;
  }
}

.nav-is-stuck {
  #o-wrapper {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 50%);
    transition: all 0.4s;
  }
}
