.template-mentions {
  h2 {
    font-size: 1.25rem;
    margin: 40px 0 15px;
  }

  h3 {
    font-size: 1rem;
    margin: 40px 0 15px;
  }
}

body {
  &.single-project {
    #main {
      .section:first-child {
        padding-top: 200px;
      }
    }
  }

  &.page-id-630 {
    .section.client {
      padding-top: 170px;
    }
  }

  &.page-id-907 {
    .section-projects {
      padding-top: 170px;
    }
  }

  &.single-project {
    article {
      padding-top: 100px;
    }
  }

  &.single-post {
    article {
      padding-top: 100px;
    }
  }

  &.blog {
    #main {
      .section-news.pt {
        padding-top: 170px;
      }
    }
  }
}
