.template-mentions {
  h2 {
    font-size: 1.25rem;
    margin: 40px 0 15px;
  }

  h3 {
    font-size: 1rem;
    margin: 40px 0 15px;
  }
}

body {
  &.blog {
    #o-wrapper {
      background-color: white;
    }

    .section-news {
      padding-top: 170px !important;
    }
  }
}
