.section-faq {
  .accordion {
    .accordion-item {
      margin-bottom: 0;
      border: 0;

      &:last-child {
        margin-bottom: 0;
      }

      .accordion-header {
        border-radius: 1rem;

        &:hover {
          background-color: white;
          transition: none;
        }

        .accordion-button {
          display: flex;
          font-weight: 700;
          align-items: center;
          border-radius: 1rem;
          box-shadow: none;
          padding-left: 40px;

          &::before {
            content: "+";
            display: inline-block;
            position: absolute;
            left: 20px;
            font-size: 24px;
          }

          &:focus {
            box-shadow: none;
          }

          &:not(.collapsed) {
            color: black;
            background-color: white;

            &:hover {
              color: black;
              background-color: white;
            }
          }

          &:hover {
            color: $blue_pitch;
            background-color: white;

            &.collapsing,
            &.collapse,
            &[aria-expanded="true"] {
              background-color: white;

              &::before {
                content: "-";
                transition: all 0.3s ease-in-out;
              }
            }
          }

          &[aria-expanded="true"] {
            &::before {
              content: "-";
            }
          }

          &::after {
            content: none;
            padding: 1rem;
            border-radius: 0.5rem;
            background-position: center;
            background-color: white;
          }
        }
      }

      .accordion-collapse {
        .accordion-body {
          font-size: 14px;
          font-weight: 100;
          line-height: 1.6rem;
          background: #f7f0f0;
          padding: 30px;

          a {
            color: black;
          }

          h3,
          h4,
          h5,
          h6 {
            font-size: 14px;
          }
        }
      }
    }
  }
}
