.section-faq {
  .accordion {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .accordion-item {
      margin-bottom: 0;
      border: 1px solid $black_pitch;
      border-radius: 1rem;
      overflow: hidden;

      &:last-child {
        margin-bottom: 0;
      }

      .accordion-header {
        border: 0;
        border-radius: 0;
        border-bottom: 0;

        &:hover {
          background-color: white;
          transition: none;
        }

        .accordion-button {
          display: flex;
          font-weight: 700;
          align-items: center;
          box-shadow: none;
          border: 0;
          border-radius: 0;
          margin: 0;
          padding: 25px;

          &::after {
            transform: rotate(-90deg);
          }

          &:focus {
            box-shadow: none;
          }

          &:not(.collapsed) {
            color: white;
            background-color: $black_pitch;

            &:hover {
              color: white;
              background-color: $black_pitch;
            }
          }

          &[aria-expanded="true"] {
            &::after {
              transform: rotate(0deg);
            }
          }

          &:hover {
            color: $blue_pitch;
            background-color: white;

            &.collapsing,
            &.collapse,
            &[aria-expanded="true"] {
              color: white;
              background-color: $black_pitch;

              &::after {
                transform: rotate(0deg);
              }
            }
          }
        }
      }

      .accordion-collapse {
        .accordion-body {
          font-size: 14px;
          font-weight: 100;
          line-height: 1.6rem;
          background: white;
          padding: 30px;
          border: 0;

          a {
            color: black;
          }

          h3,
          h4,
          h5,
          h6 {
            font-size: 14px;
          }
        }
      }
    }
  }
}
