.gform_wrapper {
  form {
    .gform_body {
      ul {
        padding-left: 0;
        list-style: none;

        li {
          display: inline-block;
          vertical-align: top;
          width: 50%;
          padding-right: 16px;
          float: none;
          margin-bottom: 20px;

          @media (max-width: 767.98px) {
            width: 100%;
          }

          &#field_1_5 {
            width: 100%;
          }

          input {
            min-width: 100%;
          }
        }
      }

      textarea.large {
        height: 175px;
        max-width: 100%;
      }

      input[type="text"] {
        border-left: 0;
        border-right: 0;
        border-top: 0;
        background: transparent;

        &:focus,
        &:focus-within,
        &:focus-visible {
          outline: none;
        }
      }

      input.button {
        color: white;
        padding: 10px 20px !important;
        border-radius: 25px;
        border: 0;
        background-color: $black_pitch;
        transition: all 0.4s;

        &:hover {
          color: white;
          text-decoration: none;
          background-color: $blue_pitch;
          transition: all 0.4s;
        }
      }
    }
  }
}
