.section {
  .slick-track {
    display: flex !important;
  }

  .slick-slide {
    height: inherit !important;
  }

  .slick-dotted.slick-slider {
    margin-bottom: 0;
  }

  .slick-dots li:only-child {
    display: none !important;
  }

  .slideshow:not(.slick-initialized) {
    visibility: hidden;
  }

  .slideshow.slick-initialized {
    visibility: visible;
  }

  .slick-arrow {
    &.slick-disabled {
      opacity: 0 !important;
    }
  }
}

slideshow-logo,
.main-project-slideshow {
  &:not(.slick-initialized) {
    visibility: hidden;
  }
}

.slideshow-logo,
.main-project-slideshow {
  &.slick-initialized {
    visibility: visible;
  }
}

.arrows {
  .slick-arrow {
    cursor: pointer;

    &.slick-disabled {
      opacity: 0.35;
      cursor: auto;
      pointer-events: none;
      filter: grayscale(1);
    }
  }
}
