.slick-track {
  display: flex !important;
}

.slick-slide {
  height: inherit !important;
}

.arrows {
  .slick-arrow {
    cursor: pointer;

    &.slick-disabled {
      opacity: 0.35;
      cursor: auto;
      pointer-events: none;
      filter: grayscale(1);
    }
  }
}
