.section-title {
  display: block;

  strong {
    color: $blue_pitch;
  }

  em {
    font-style: normal;
    animation: gradient 8s linear infinite;
    background-image: linear-gradient(140deg, #00d2ff, #2ba1d0, #00d2ff, #05f);
    background-size: 400% 400%;
    -webkit-text-fill-color: #0000;
    -webkit-background-clip: text;
  }
}

.subtitle {
  display: inline-block;
  font-size: 0.75rem;
  font-weight: 500;
  letter-spacing: 3px;
  line-height: 36px;
}
