.section-title {
  display: block;

  strong {
    color: $blue_pitch;
  }
}

.subtitle {
  display: inline-block;
  font-size: 0.75rem;
  font-weight: 500;
  letter-spacing: 3px;
  line-height: 36px;
}
