.section-achievements {
  position: relative;
  text-align: center;

  ul {
    margin-top: 25px;
    padding-left: 15px;
  }

  .slideshow-achievements {
    position: relative;

    .middle {
      padding: 30px 0;
      background-color: #e3e3e3;
    }

    .right {
      position: relative;
      padding: 30px 0;
      color: white;
      background-color: $blue_pitch;

      .description {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        @media (max-width: 992px) {
          position: relative;
          transform: inherit;
          top: inherit;
          left: inherit;
        }
      }

      strong {
        display: block;
        font-size: 1.5rem;
        margin-bottom: 10px;
      }

      h4 {
        font-size: 1rem;
      }

      .description-text {
        text-align: left;
        padding: 50px 0 0;
      }
    }

    .slick-arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 999;
    }

    .slick-prev {
      left: 30px;
      padding-right: 5px;
    }

    .slick-next {
      right: 30px;
      padding-left: 5px;
    }

    [class*=" imghvr-shutter-in-"]::after,
    [class*=" imghvr-shutter-in-"]::before,
    [class^=" imghvr-shutter-in-"]::after,
    [class^=" imghvr-shutter-in-"]::before {
      background: linear-gradient(to bottom, rgba(0, 0, 0, 65%) 0%, rgba(0, 0, 0, 0%) 100%);
    }

    [class*=" imghvr-"] figcaption,
    [class^=" imghvr-"] figcaption {
      background: linear-gradient(to bottom, rgba(0, 0, 0, 65%) 0%, rgba(0, 0, 0, 0%) 100%);
    }

    [class*=" imghvr-"],
    [class^=" imghvr-"] {
      background-color: transparent;
      border-radius: 8px;
    }
  }
}
