.section-clients {
  .logo-container {
    position: relative;
    min-height: 170px;
    border-radius: 1.25rem;
    background-color: white;

    img {
      position: absolute;
      display: block;
      max-width: 145px;
      max-height: 120px;
      width: auto;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      margin: 0 auto;

      @include media-breakpoint-down(sm) {
        max-width: 140px;
        max-height: 90px;
      }
    }
  }
}

.section.client {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 0 !important;
  }

  .slideshow {
    .slick-list {
      overflow: visible;

      .slide {
        p {
          font-size: 14px;
          font-weight: 100;
          line-height: 1.6rem;
        }

        .job,
        .name,
        .company {
          font-size: 12px;
        }
      }
    }
  }
}
