.section-clients {
  .logo-container {
    position: relative;
    min-height: 170px;
    background-color: white;

    img {
      position: absolute;
      display: block;
      max-width: 150px;
      max-height: 100px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      margin: 0 auto;
    }
  }
}
