.section-text-2col {
  .section-title {
    position: sticky;
    top: 100px;
    font-size: 3rem;
  }

  .title {
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 1.2 !important;
  }

  figure {
    display: block;
    height: 50px;
    width: 50px;
    margin: 0 auto 20px;

    img {
      max-width: 100%;
      max-height: 50px;
      height: auto;
      width: auto;
    }
  }

  .collapse,
  .collapsing {
    border: 0;
    padding-top: 0;

    .card-body {
      border: 0 !important;
      padding-top: 0 !important;
    }
  }

  .btn-primary {
    display: flex !important;
    text-align: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    color: $blue_pitch;
    border: 1px solid $blue_pitch;
    background-color: white;
  }
}
