.main-slideshow {
  overflow: hidden;

  .slide {
    position: relative;
    min-height: 680px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (max-width: 991.98px) {
      min-height: 500px;
    }

    h2 {
      display: inline-block;
      font-size: 1.4rem;
      font-weight: 300;
      letter-spacing: -0.4px;
      color: white;
      line-height: 36px;
      text-align: center;

      span {
        font-size: 1.8rem;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-weight: 700;

        &.line-1 {
          &::after {
            display: block;
            content: "";
            height: 1px;
            width: 100%;
            margin: 5px auto 0;
            background-color: white;
          }
        }
      }
    }

    .scroll-btn {
      position: absolute;
      width: 100%;
      display: block;
      text-align: center;
      bottom: 60px;

      a:focus {
        outline: none;
      }

      .mouse {
        position: relative;
        display: inline-block;
        width: 30px;
        height: 50px;
        border: 2px solid #eee;
        border-radius: 24px;
        opacity: 0.75;
        margin-left: 33px;
      }

      .weel {
        position: relative;
        display: inline-block;
        height: 22px;
        margin: 10px auto 5px;

        span {
          position: absolute;
          display: block;
          top: 0;
          left: 50%;
          width: 8px;
          height: 8px;
          margin: -14px 0 0 -4px;
          background: #fff;
          border-radius: 20px;
          animation: scroll 3s linear infinite;
          -webkit-animation: scroll 3s linear infinite;
          -moz-animation: scroll 3s linear infinite;
        }
      }
    }

    .wrapper-text {
      position: absolute;
      width: 380px;
      font-weight: 300;
      color: white;
      top: 50%;
      left: 0;
      padding: 20px 40px;
      transform: translateY(-50%);
      background-color: $blue_pitch;
      z-index: 888;
    }

    img {
      position: absolute;
      animation-iteration-count: infinite;
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-timing-function: cubic-bezier(0.54, 0.085, 0.5, 0.92);
      animation-timing-function: cubic-bezier(0.54, 0.085, 0.5, 0.92);

      &.second {
        z-index: 333;
        right: 300px;
        bottom: 10px;
        animation-name: floating2;
        -webkit-animation-name: floating2;
        animation-duration: 8s;
        -webkit-animation-duration: 8s;
        -webkit-animation-delay: 1s;
        animation-delay: 1s;

        @media (max-width: 1400px) {
          max-width: 242px;
          right: 300px;
          bottom: 48px;
        }

        @media (max-width: 992px) {
          right: 10px;
          max-width: 330px;
        }

        @media (max-width: 768px) {
          max-width: 330px;
        }
      }

      &.first {
        z-index: 333;
        right: 20px;
        top: 40px;
        animation-name: floating1;
        -webkit-animation-name: floating1;
        animation-duration: 8s;
        -webkit-animation-duration: 8s;
        -webkit-animation-delay: 1s;
        animation-delay: 1s;

        @media (max-width: 1400px) {
          max-width: 405px;
          right: 0;
          top: 70px;
        }
      }
    }

    picture {
      &.second img {
        z-index: 333;
        right: 300px;
        bottom: 10px;
        animation-name: floating2;
        -webkit-animation-name: floating2;
        animation-duration: 8s;
        -webkit-animation-duration: 8s;
        -webkit-animation-delay: 1s;
        animation-delay: 1s;

        @media (max-width: 1400px) {
          max-width: 242px;
          right: 300px;
          bottom: 48px;
        }

        @media (max-width: 992px) {
          right: 10px;
          max-width: 330px;
        }

        @media (max-width: 768px) {
          max-width: 330px;
        }
      }

      &.first img {
        z-index: 333;
        right: 20px;
        top: 40px;
        animation-name: floating1;
        -webkit-animation-name: floating1;
        animation-duration: 8s;
        -webkit-animation-duration: 8s;
        -webkit-animation-delay: 1s;
        animation-delay: 1s;

        @media (max-width: 1400px) {
          max-width: 405px;
          right: 0;
          top: 70px;
        }
      }
    }
  }
}

@keyframes floating {
  from {
    -webkit-transform: rotate(0deg) translate(-10px) rotate(0deg);
    -ms-transform: rotate(0deg) translate(-10px) rotate(0deg);
    transform: rotate(0deg) translate(-10px) rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg) translate(-10px) rotate(-360deg);
    -ms-transform: rotate(360deg) translate(-10px) rotate(-360deg);
    transform: rotate(360deg) translate(-10px) rotate(-360deg);
  }
}

@-webkit-keyframes floating {
  from {
    -webkit-transform: rotate(0deg) translate(-10px) rotate(0deg);
    -ms-transform: rotate(0deg) translate(-10px) rotate(0deg);
    transform: rotate(0deg) translate(-10px) rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg) translate(-10px) rotate(-360deg);
    -ms-transform: rotate(360deg) translate(-10px) rotate(-360deg);
    transform: rotate(360deg) translate(-10px) rotate(-360deg);
  }
}

@keyframes floating1 {
  0% {
    -webkit-transform: rotateX(0deg) translateY(0);
    -ms-transform: rotateX(0deg) translateY(0);
    transform: rotateX(0deg) translateY(0);
  }

  50% {
    -webkit-transform: rotateX(0deg) translateY(-10px);
    -ms-transform: rotateX(0deg) translateY(-10px);
    transform: rotateX(0deg) translateY(-10px);
  }

  100% {
    -webkit-transform: rotateX(0deg) translateY(0);
    -ms-transform: rotateX(0deg) translateY(0);
    transform: rotateX(0deg) translateY(0);
  }
}

@-webkit-keyframes floating1 {
  0% {
    -webkit-transform: rotateX(0deg) translateY(0);
    -ms-transform: rotateX(0deg) translateY(0);
    transform: rotateX(0deg) translateY(0);
  }

  50% {
    -webkit-transform: rotateX(0deg) translateY(-10px);
    -ms-transform: rotateX(0deg) translateY(-10px);
    transform: rotateX(0deg) translateY(-10px);
  }

  100% {
    -webkit-transform: rotateX(0deg) translateY(0);
    -ms-transform: rotateX(0deg) translateY(0);
    transform: rotateX(0deg) translateY(0);
  }
}

@keyframes floating2 {
  0% {
    -webkit-transform: rotateX(0deg) translateY(0);
    -ms-transform: rotateX(0deg) translateY(0);
    transform: rotateX(0deg) translateY(0);
  }

  50% {
    -webkit-transform: rotateX(0deg) translateY(10px);
    -ms-transform: rotateX(0deg) translateY(10px);
    transform: rotateX(0deg) translateY(10px);
  }

  100% {
    -webkit-transform: rotateX(0deg) translateY(0);
    -ms-transform: rotateX(0deg) translateY(0);
    transform: rotateX(0deg) translateY(0);
  }
}

@-webkit-keyframes floating2 {
  0% {
    -webkit-transform: rotateX(0deg) translateY(0);
    -ms-transform: rotateX(0deg) translateY(0);
    transform: rotateX(0deg) translateY(0);
  }

  50% {
    -webkit-transform: rotateX(0deg) translateY(15px);
    -ms-transform: rotateX(0deg) translateY(15px);
    transform: rotateX(0deg) translateY(15px);
  }

  100% {
    -webkit-transform: rotateX(0deg) translateY(0);
    -ms-transform: rotateX(0deg) translateY(0);
    transform: rotateX(0deg) translateY(0);
  }
}

@-webkit-keyframes scroll {
  1% {
    opacity: 1;
    top: 30%;
  }

  20% {
    opacity: 1;
    top: 80%;
  }

  60% {
    opacity: 0;
    top: 80%;
  }

  100% {
    opacity: 0;
    top: 30%;
  }
}

@-moz-keyframes scroll {
  1% {
    opacity: 1;
    top: 30%;
  }

  20% {
    opacity: 1;
    top: 80%;
  }

  60% {
    opacity: 0;
    top: 80%;
  }

  100% {
    opacity: 0;
    top: 30%;
  }
}

@keyframes scroll {
  1% {
    opacity: 1;
    top: 30%;
  }

  20% {
    opacity: 1;
    top: 80%;
  }

  60% {
    opacity: 0;
    top: 80%;
  }

  100% {
    opacity: 0;
    top: 30%;
  }
}
