{
  "extends": [
    "@roots/sage/stylelint-config",
  ],
  "rules": {
    'property-no-vendor-prefix': null,
    'at-rule-no-vendor-prefix': null,
    'color-function-notation': null,
    'indentation': null,
    'at-rule-no-unknown': null,
    'function-no-unknown': null,
    'font-family-name-quotes': null,
  },
  "customSyntax": "postcss-scss",
}
